body{
    background: magenta;
}
  
form{
    margin: 100px;
    padding: 30px;
    border: 0.5px solid;
    background-color: #fff;
    text-align: center;
}
  
.email{
    padding:15px;
}
  
.username{
    padding:15px;
}
  
.password{
    padding:15px;
}
  
.confirmpassword{
    padding: 15px;
}
  
.submit{
    padding: 15px;
}
